<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener Microservice | freeCodeCamp.org</title>
    <link
      rel="icon" 
      type="image/png" 
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png"
    />
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>URL Shortener Microservice</h1>
    <main>
      <section>
        <form action="api/shorturl/new" method="POST">
          <fieldset>
            <legend>URL Shortener</legend>
            <label for="url_input">URL:</label>
            <input id="url_input" type="text" name="url" placeholder="https://www.freecodecamp.org/" />
            <input type="submit" value="POST URL" />
          </fieldset>
        </form>
        <h3>Example usage:</h3>
        <a href="https://blooming-headland-02308.herokuapp.com/api/shorturl/1">[this-project-url]/api/shorturl/1</a>
        <h3>Will redirect to:</h3>
        <p>https://github.com/usamaa18/</p>
      </section>
    </main>
    <footer>
      <p>By <a href="https://www.freecodecamp.org/">freeCodeCamp</a> and <a href="https://github.com/usamaa18/">Usama Ali</a></p>
    </footer>
  </body>
</html>
